.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e5533d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*CSS for home.js*/
.home-container {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

.hero-section {
  color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.explore-button {
  background-color: #ff6347;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.explore-button:hover {
  background-color: #e5533d;
}

.features {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  padding: 0 1rem;
}

.feature-card {
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  flex: 1;
  max-width: 300px;
}

.feature-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #ff6347;
}

.feature-card p {
  font-size: 1rem;
  color: #666;
}

/*CSS for navbar*/
.custom-navbar {
  background-color: #ff6347 !important;  
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: white !important;  
}

.custom-navbar .nav-link:hover {
  color: #fff !important;  
  background-color: #e55347;  
}

/*CSS for addRecipe.js*/
.add-recipe-container {
  padding: 30px;
  background-color: #f4f4f4; 
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-recipe-container h1 {
  text-align: center;
  color: #ff6347; 
  margin-bottom: 30px;
}

.add-recipe-container .form-group label {
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.add-recipe-container .form-control {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.add-recipe-container .form-control:focus {
  border-color: #ff6347; 
  box-shadow: 0 0 5px rgba(255, 99, 71, 0.5);
}

.add-recipe-container .submit-button {
  background-color: #ff6347; 
  color: white;
  padding: 12px 25px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}

.add-recipe-container .submit-button:hover {
  background-color: #e55347;  
  transition: background-color 0.3s;
}

.add-recipe-container .submit-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 99, 71, 0.8);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
